<script setup>
import { ref, onMounted } from 'vue';
import { useToast } from 'primevue/usetoast';
import departmentApi from '../../services/department.api';
import { renderDate } from '../../utils/utils';

const toast = useToast();

const departments = ref(null);
const metadata = ref({});
const pageSize = ref(20);
const pageIndex = ref(1);
const search = ref('');
const departmentDialog = ref(false);
const deleteDialog = ref(false);
const department = ref({});
const dt = ref(null);
const filters = ref({});
const submitted = ref(false);
const loading = ref(false);

const loadData = () => {
    departmentApi.getPaging(pageIndex.value, pageSize.value, search.value).then((res) => {
        departments.value = res.data.items;
        metadata.value = res.data.metaData;
    });
};

onMounted(() => {
    loadData();
});

const openNew = () => {
    department.value = {};
    submitted.value = false;
    departmentDialog.value = true;
};

const hideDialog = () => {
    departmentDialog.value = false;
    submitted.value = false;
};

const save = () => {
    submitted.value = true;
    if (department.value.name && department.value.name.trim()) {
        loading.value = true;
        if (department.value.id) {
            departmentApi
                .edit(department.value)
                .then(() => {
                    toast.add({ severity: 'success', summary: 'Thành công', detail: 'Cập nhật phòng ban thành công', life: 3000 });
                    loadData();
                    departmentDialog.value = false;
                    department.value = {};
                    loading.value = false;
                })
                .catch((e) => {
                    loading.value = false;
                    toast.add({ severity: 'error', summary: 'Không thành công', detail: e.response.data.message, life: 3000 });
                });
        } else {
            departmentApi
                .create(department.value)
                .then(() => {
                    loading.value = false;
                    toast.add({ severity: 'success', summary: 'Thành công', detail: 'Thêm phòng ban thành công', life: 3000 });
                    loadData();
                    departmentDialog.value = false;
                    department.value = {};
                })
                .catch((e) => {
                    loading.value = false;
                    toast.add({ severity: 'error', summary: 'Không thành công', detail: e.response.data.message, life: 3000 });
                });
        }
    }
};

const edit = (record) => {
    department.value = { ...record };
    departmentDialog.value = true;
};

const confirmDelete = (record) => {
    department.value = record;
    deleteDialog.value = true;
};

const deleteRecord = () => {
    loading.value = true;
    departmentApi
        .delete(department.value.id)
        .then(() => {
            toast.add({ severity: 'success', summary: 'Thành công', detail: 'Xóa phòng ban thành công', life: 3000 });
            loadData();
            deleteDialog.value = false;
            department.value = {};
            loading.value = false;
        })
        .catch((e) => {
            loading.value = false;
            toast.add({ severity: 'error', summary: 'Không thành công', detail: e.response.data.message, life: 3000 });
        });
};

const changePaging = (e) => {
    pageIndex.value = e.page + 1;
    pageSize.value = e.rows;
    loadData();
};
</script>

<template>
    <div class="grid">
        <div class="col-12">
            <div class="card">
                <Toolbar class="mb-4">
                    <template v-slot:start>
                        <div class="my-2">
                            <Button label="Thêm mới" icon="pi pi-plus" class="mr-2" severity="success" @click="openNew" />
                        </div>
                    </template>
                </Toolbar>

                <DataTable ref="dt" :value="departments" dataKey="id" :filters="filters">
                    <template #header>
                        <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
                            <h5 class="m-0">Quản lý phòng ban</h5>
                            <!-- <IconField iconPosition="left" class="block mt-2 md:mt-0">
                                <InputIcon class="pi pi-search" />
                                <InputText class="w-full sm:w-auto" v-model="filters['global'].value" placeholder="Search..." />
                            </IconField> -->
                        </div>
                    </template>

                    <Column field="name" header="Tên phòng ban" />
                    <Column field="createdDate" header="Ngày tạo">
                        <template #body="slotProps">
                            {{ renderDate(slotProps.data.createdDate) }}
                        </template>
                    </Column>
                    <Column header="Chức năng">
                        <template #body="record">
                            <Button icon="pi pi-file-edit" class="mr-2" severity="secondary" @click="edit(record.data)" />
                            <Button icon="pi pi-trash" severity="danger" @click="confirmDelete(record.data)" />
                        </template>
                    </Column>
                </DataTable>

                <Paginator @page="changePaging" :first="Number(metadata.firstRowOnPage) - 1" :rows="pageSize" :totalRecords="metadata.totalItems" :rowsPerPageOptions="[10, 20, 50]">
                    <template #start> <div></div> </template>
                    <template #end> Tổng {{ metadata.totalItems }} phòng ban </template>
                </Paginator>

                <Dialog v-model:visible="departmentDialog" :style="{ width: '450px' }" header="Chi tiết phòng ban" :modal="true" class="p-fluid">
                    <div class="field">
                        <label for="name">Tên phòng ban</label>
                        <InputText id="name" v-model.trim="department.name" placeholder="Nhập tên phòng ban" required="true" autofocus :invalid="submitted && !department.name" />
                        <small class="p-invalid" :style="{ color: 'red' }" v-if="submitted && !department.name">Trường này là bắt buộc.</small>
                    </div>

                    <template #footer>
                        <Button label="Hủy" icon="pi pi-times" text="" @click="hideDialog" />
                        <Button :disabled="loading" label="Lưu" icon="pi pi-check" text="" @click="save" />
                    </template>
                </Dialog>

                <Dialog v-model:visible="deleteDialog" :style="{ width: '450px' }" header="Confirm" :modal="true">
                    <div class="flex align-items-center justify-content-center">
                        <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem" />
                        <span v-if="department"
                            >Ban có chắc chắn muốn xóa phòng <b>{{ department.name }}</b> không?</span
                        >
                    </div>
                    <template #footer>
                        <Button label="Hủy" icon="pi pi-times" text @click="deleteDialog = false" />
                        <Button :disabled="loading" label="Xóa" icon="pi pi-check" text @click="deleteRecord" />
                    </template>
                </Dialog>
            </div>
        </div>
    </div>
</template>
