<script setup>
import { ref } from 'vue';
import AppConfig from '@/layout/AppConfig.vue';
import authApi from '../../services/auth.api';
import { useToast } from 'primevue/usetoast';
import { useRouter } from 'vue-router';
import { validateEmail } from '../../utils/utils';
const router = useRouter();

const toast = useToast();

const email = ref('');
const password = ref('');
const submitted = ref(false);

const login = () => {
    submitted.value = true;
    if (email.value && password.value && validateEmail(email.value)) {
        authApi
            .login(email.value, password.value)
            .then(() => {
                router.push('/');
                toast.add({ severity: 'success', summary: 'Thành công', detail: 'Đăng nhập thành công', life: 3000 });
            })
            .catch((e) => {
                toast.add({ severity: 'error', summary: 'Không thành công', detail: e.response.data.message, life: 3000 });
            });
    }
};
</script>

<template>
    <div class="surface-ground flex align-items-center justify-content-center min-h-screen min-w-screen overflow-hidden">
        <div class="flex flex-column align-items-center justify-content-center">
            <div style="border-radius: 56px; padding: 0.3rem; background: linear-gradient(180deg, var(--primary-color) 10%, rgba(33, 150, 243, 0) 30%)">
                <div class="w-full surface-card py-8 px-5 sm:px-8" style="border-radius: 53px">
                    <div class="text-center mb-5">
                        <div class="text-900 text-3xl font-medium mb-3">Đăng nhập</div>
                    </div>

                    <div>
                        <div class="mb-4">
                            <label for="email1" class="block text-900 text-xl font-medium mb-2">Email</label>
                            <InputText id="email1" type="text" placeholder="Nhập email" class="w-full md:w-30rem" style="padding: 1rem" v-model="email" required="true" autofocus :invalid="submitted && !email" />
                            <br />
                            <small class="p-invalid" :style="{ color: 'red' }" v-if="submitted && !email">Trường này là bắt buộc.</small>
                            <small class="p-invalid" :style="{ color: 'red' }" v-else-if="submitted && !validateEmail(email)">Email không đúng định dạng.</small>
                        </div>
                        <div class="mb-2">
                            <label for="password1" class="block text-900 font-medium text-xl">Password</label>
                            <Password
                                id="password1"
                                v-model="password"
                                placeholder="Nhập mật khẩu"
                                :toggleMask="true"
                                class="w-full"
                                inputClass="w-full"
                                :inputStyle="{ padding: '1rem' }"
                                required="true"
                                autofocus
                                :invalid="submitted && !password"
                            ></Password>
                            <small class="p-invalid" :style="{ color: 'red' }" v-if="submitted && !password">Trường này là bắt buộc.</small>
                        </div>

                        <Button label="Đăng nhập" @click="login" class="w-full p-3 text-xl"></Button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <AppConfig simple />
    <Toast />
</template>

<style scoped>
.pi-eye {
    transform: scale(1.6);
    margin-right: 1rem;
}

.pi-eye-slash {
    transform: scale(1.6);
    margin-right: 1rem;
}
</style>
