<script setup>
import { validateEmail, validatePhoneNumber } from '../../utils/utils';
import { computed, ref } from 'vue';
import { useStore } from 'vuex';

const store = useStore();
const departments = computed(() => store.getters['departmentAll']);
const genders = ref([
    { name: 'Nam', value: 1 },
    { name: 'Nữ', value: 2 }
]);

defineProps(['visible', 'loading']);
const user = computed(() => store.getters['userEmpty']);
const submitted = ref(false);
const emit = defineEmits(['save', 'hide']);

const save = () => {
    submitted.value = true;
    if (user.value.userName && validateEmail(user.value.userName) && user.value.fullName && user.value.phoneNumber && validatePhoneNumber(user.value.phoneNumber) && user.value.gender && user.value.departmentId) {
        emit('save', user.value);
    }
};

const hide = () => {
    emit('hide');
};
</script>

<template>
    <Dialog @update:visible="hide" :visible="visible" :style="{ width: '450px' }" header="Chi tiết nhân sự" modal class="p-fluid">
        <div class="field">
            <label for="name">Tài khoản</label>
            <InputText id="name" v-model="user.userName" placeholder="Nhập email" required="true" autofocus :invalid="submitted && !user.userName" />
            <small class="p-invalid" :style="{ color: 'red' }" v-if="submitted && !user.userName">Trường này là bắt buộc.</small>
            <small class="p-invalid" :style="{ color: 'red' }" v-else-if="submitted && !validateEmail(user.userName)">Email không đúng định dạng.</small>
        </div>

        <div class="field">
            <label for="name">Tên nhân sự</label>
            <InputText id="name" v-model="user.fullName" placeholder="Nhập tên nhân sự" required="true" autofocus :invalid="submitted && !user.fullName" />
            <small class="p-invalid" :style="{ color: 'red' }" v-if="submitted && !user.fullName">Trường này là bắt buộc.</small>
        </div>

        <div class="field">
            <label for="name">Số điện thoại</label>
            <InputText id="name" v-model="user.phoneNumber" placeholder="Nhập số điện thoại" required="true" autofocus :invalid="submitted && !user.phoneNumber" />
            <small class="p-invalid" :style="{ color: 'red' }" v-if="submitted && !user.phoneNumber">Trường này là bắt buộc.</small>
            <small class="p-invalid" :style="{ color: 'red' }" v-else-if="submitted && !validatePhoneNumber(user.phoneNumber)">Số điện thoai không đúng định dạng.</small>
        </div>

        <div class="field">
            <label for="name">Giới tính</label>
            <Dropdown v-model="user.gender" :options="genders" optionLabel="name" optionValue="value" placeholder="Chọn giới tính" />
            <small class="p-invalid" :style="{ color: 'red' }" v-if="submitted && !user.gender">Trường này là bắt buộc.</small>
        </div>

        <div class="field">
            <label for="name">Phòng ban</label>
            <Dropdown v-model="user.departmentId" :options="departments" optionLabel="name" optionValue="id" placeholder="Chọn phòng ban" />
            <small class="p-invalid" :style="{ color: 'red' }" v-if="submitted && !user.departmentId">Trường này là bắt buộc.</small>
        </div>

        <template #footer>
            <Button label="Hủy" icon="pi pi-times" text="" @click="hide" />
            <Button :disabled="loading" label="Lưu" icon="pi pi-check" text="" @click="save" />
        </template>
    </Dialog>
</template>
